torch==2.6.0
torchvision==0.21.0
transformers==4.56.2
diffusers==0.32.2
transformers==4.56.2
numpy==1.26.0
qwen-vl-utils==0.0.14
controlnet-aux
imageio
imageio-ffmpeg
moviepy==1.0.3
deepspeed
safetensors
einops
sentencepiece
protobuf
modelscope
ftfy
pynvml
tqdm
peft
pandas
decord
matplotlib
fire
easydict